#colour{
    /* background-color:red;
    color: red;
    width:100px;
    height:100px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    position:absolute;
    display:block; */
}

.demo__image{
    width:800px;
    position:absolute;
}

.demo__image.transparent{
    opacity:0.4;
}

.hue{
    filter: hue-rotate(0deg);
    transition: filter 0.1s;
}

.hue.slower{
    /* transition: filter 2s; */
}
img{
    opacity:1;
    transition: opacity 0.1s;
}