#colour{
    /* background-color:red;
    color: red;
    width:100px;
    height:100px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    position:absolute;
    display:block; */
}

.demo__image{
    width:800px;
    position:absolute;
}